.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 8rem;

    background-color: var(--color-secondary);

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        max-width: 100rem;

        padding-bottom: 5rem;

        &__image {
            margin-right: 10rem;

            img {
                width: 14rem;
                height: 14rem;
                border-radius: 50%;
            }

            svg {
                width: 14rem;
                height: 14rem;
            }
        }

        &__info {
            &__username {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                font-size: 3rem;
                margin-bottom: 2rem;

                button {
                    color: var(--color-highlight);
                    background-color: var(--color-secondary);

                    border: 0;
                    border-radius: 3px;
                    border: 1px solid var(--color-border);

                    padding: 0.8rem 1rem;
                    margin: 0 2rem;

                    font-size: 1.3rem;
                    font-weight: 600;

                    transition: opacity transform 0.2s;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }

                svg {
                    transition: opacity transform 0.2s;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }

            &__social {
                display: flex;
                font-size: 1.8rem;
                margin-bottom: 2rem;

                &__item {
                    margin-right: 2rem;
                }
            }

            &__name {
                font-size: 1.8rem;
            }
        }
    }

    &__bar {
        display: flex;
        width: 100%;
        justify-content: center;
        max-width: 100rem;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);

        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        // padding: 0 40rem;

        &__item {
            display: flex;
            align-items: center;
            padding: 2rem 4rem;
            cursor: pointer;

            svg {
                font-size: 1.4rem;
                margin-right: 0.5rem;
            }

            &.active {
                border-top: 2px solid;
            }
        }
    }

    &__content {
        margin-bottom: 10rem;

        &__publications {
            width: 100%;
            max-width: 70rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-gap: 1rem;

            div img {
                width: 100%;
                height: 100%;
            }
            div video {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 700px) {
    .profile {
        &__main {
            &__image {
                margin-right: 5rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .profile {
        &__main {
            &__image {
                margin-right: 5rem;

                img {
                    width: 12rem;
                    height: 12rem;
                    border-radius: 50%;
                }

                svg {
                    width: 12rem;
                    height: 12rem;
                }
            }

            &__info {
                &__username {
                    font-size: 2rem;

                    button {
                        font-size: 1rem;
                    }
                }

                &__social {
                    font-size: 1.5rem;
                }

                &__name {
                    font-size: 1.5rem;
                }
            }
        }

        &__bar {
            font-size: 1.3rem;
        }

        &__content {
            &__publications {
                width: 100%;
                max-width: 40rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
                grid-gap: 1rem;
            }
        }
    }
}

@media (max-width: 520px) {
    .profile {
        &__main {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 2rem;
            &__image {
                margin-right: 1.5rem;

                img {
                    width: 9rem;
                    height: 9rem;
                    border-radius: 50%;
                }

                svg {
                    width: 9rem;
                    height: 9rem;
                }
            }

            &__info {
                &__username {
                    font-size: 1.6rem;

                    button {
                        font-size: 1.2rem;
                    }
                }

                &__social {
                    font-size: 1.2rem;
                }

                &__name {
                    font-size: 1.4rem;
                }
            }
        }

        &__content {
            &__publications {
                width: 100%;
                max-width: 40rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
                grid-gap: 1rem;
            }
        }
    }
}
