.container .instagram-block .terms-block {
  text-align: center;
  color: #888;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.container .instagram-block .terms-block span {
  font-weight: 600;
  cursor: pointer;
}

.container .instagram-block .instagram-text {
  width: 75%;
  text-align: center;
  font-size: 1.6rem;
  color: #888;
  font-weight: 600;
}

.container .instagram-block .perfil-dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .instagram-block .perfil-dropzone p.label {
  margin-bottom: 1rem;
  color: #888;
}

.container .instagram-block .perfil-dropzone .dropzone {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.container .instagram-block .perfil-dropzone .dropzone img {
  border-radius: 50%;
}

.container .instagram-block .perfil-dropzone .dropzone p {
  border: 0;
}

.container .instagram-block .text-logo {
  margin: 1rem 0;
  font-family: "Grand Hotel";
  font-size: 5.5rem;
  color: #262626;
}