.register {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    position: relative;
    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
    width: 95%;
    max-width: 36rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__instagram-text {
      margin-top: 1rem;
      font-family: "Grand Hotel";
      font-size: 5.5rem;
      color: var(--color-highlight);
    }

    &__subtitle {
      width: 80%;
      text-align: center;
      font-size: 1.6rem;
      color: var(--color-text);
      font-weight: 600;
    }

    &__perfil-dropzone {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__label {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        color: var(--color-text);
      }

      & .dropzone {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
        background-color: var(--color-secondary);

        & img {
          border-radius: 50%;
        }

        & p {
          border: 0;
        }
      }

      & .photo-error {
        background-color: #ff336628;
        border: 1px solid #ff33665b;
      }
    }

    &__terms {
      text-align: center;
      color: var(--color-text);
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1.3rem;

      & span {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  &__login {
    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
    width: 95%;
    max-width: 36rem;
    min-height: 6.5rem;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      font-weight: 100;
      font-size: 1.6rem;
    }

    & a {
      font-weight: 500;
      color: var(--color-tertiary);
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__app-text {
    margin: 2rem 0;
  }

  &__download-stores {
    display: flex;

    & img {
      width: 15rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
}

.or-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0px 2rem 0px;
  width: 75%;
  background-color: var(--color-border);
  min-height: 1px;

  &__line {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-text);
  }

  &__line span {
    position: absolute;
    margin: -0.8rem -2.8rem;
    color: var(--color-text);
    background: var(--color-primary);
    padding: 0 2rem;
  }
}

.container .instagram-block .text-logo {
  margin: 1rem 0;
  font-family: "Grand Hotel";
  font-size: 5.5rem;
  color: var(--color-highlight);
}
