.container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.container .instagram-block {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 90%;
  max-width: 36rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .instagram-block img {
  margin: 2rem 0;
}

.container .instagram-block .or-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0px 2rem 0px;
  width: 75%;
  background-color: #ddd;
  min-height: 1px;
}

.container .instagram-block .or-block .line {
  font-size: 1.2rem;
  font-weight: 600;
  color: #888;
}

.container .instagram-block .or-block .line span {
  position: absolute;
  margin: -0.8rem -2.8rem;
  color: #888;
  background: #fff;
  padding: 0 2rem;
}

.container .instagram-block .facebook-block {
  font-size: 1.2rem;
  font-weight: 500;
  color: #385185;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container .instagram-block .facebook-block img {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.container .instagram-block .forgot-block {
  font-size: 1rem;
  color: rgb(0, 55, 107);
  cursor: pointer;
}

.container .register-block {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 90%;
  max-width: 36rem;
  min-height: 6.5rem;
  margin-top: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .register-block p {
  font-weight: 100;
  font-size: 1.3rem;
}

.container .register-block a {
  font-weight: 500;
  color: rgb(0, 149, 247);
  cursor: pointer;
  text-decoration: none;
}

.app-text {
  margin: 2rem 0;
}

.container .download-stores-block {
  display: flex;
}

.container .download-stores-block img {
  width: 15rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.text-logo {
  margin-top: 1rem;
  font-family: "Grand Hotel";
  font-size: 5.5rem;
  color: #262626;
}