.container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.container .instagram-block {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 90%;
  max-width: 360px;
  padding-bottom: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .instagram-block img {
  margin: 20px 0px;
}

.container .instagram-block .or-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  width: 75%;
  background-color: #ddd;
  min-height: 1px;
}

.container .instagram-block .or-block .line {
  font-size: 0.8rem;
  font-weight: 600;
  color: #888;
}

.container .instagram-block .or-block .line span {
  position: absolute;
  margin: -8px -28px;
  color: #888;
  background: #fff;
  padding: 0 20px;
}

.container .instagram-block .facebook-block {
  font-size: 0.9rem;
  font-weight: 500;
  color: #385185;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container .instagram-block .facebook-block img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.container .instagram-block .forgot-block {
  font-size: 0.7rem;
  color: rgb(0, 55, 107);
  cursor: pointer;
}

.container .register-block {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 90%;
  max-width: 360px;
  min-height: 65px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .register-block p {
  font-weight: 100;
  font-size: 0.9rem;
}

.container .register-block a {
  font-weight: 500;
  color: rgb(0, 149, 247);
  cursor: pointer;
  text-decoration: none;
}

.app-text {
  margin: 20px 0px;
}

.container .download-stores-block {
  display: flex;
}

.container .download-stores-block img {
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
