.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-secondary);

  height: 95vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-primary);
    border: 1px solid var(--color-border);

    width: 95%;
    max-width: 36rem;
    padding-bottom: 2rem;
    margin-top: 1rem;

    &__instagram-text {
      margin-top: 1rem;
      font-family: "Grand Hotel";
      font-size: 5.5rem;
      color: var(--color-highlight);
    }

    &__facebook {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--color-tertiary-dark2);
      display: flex;
      align-items: center;
      cursor: pointer;

      & img {
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
      }
    }

    &__forgot {
      font-size: 1rem;
      color: var(--color-tertiary-dark2);
      cursor: pointer;
    }
  }

  &__register {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
    width: 95%;
    max-width: 36rem;
    min-height: 6.5rem;
    margin-top: 1rem;
    text-align: center;

    & p {
      font-weight: 100;
      font-size: 1.6rem;
    }

    & a {
      font-weight: 500;
      color: var(--color-tertiary);
      text-decoration: none;

      cursor: pointer;
    }
  }

  &__app-text {
    margin: 2rem 0;
  }

  &__download-stores {
    display: flex;

    & img {
      width: 15rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
}

.or-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0px 2rem 0px;
  width: 75%;
  background-color: var(--color-border);
  min-height: 1px;

  &__line {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-text);
  }

  &__line span {
    position: absolute;
    margin: -0.8rem -2.8rem;
    color: var(--color-text);
    background: var(--color-primary);
    padding: 0 2rem;
  }
}

.theme-block {
  position: absolute;
  right: 2rem;
}
