.button {
  width: 80%;

  & button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1.2rem 0;

    font-weight: bold;

    border: 0;
    border-radius: 0.5rem;

    background-color: var(--color-tertiary);
    color: #fff;

    cursor: pointer;
    transition: all 0.2s;
  }

  & button:hover {
    background-color: var(--color-tertiary-dark);
  }

  & button:active {
    background-color: var(--color-tertiary-light);
  }
}
