div.home-container {
  padding-top: 10rem;
  display: flex;
  padding-left: 13%;
}

div.home-container .main-container .online-friends-block {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6rem 0;
  margin-bottom: 3rem;
}

div.home-container .side-container {
  margin-left: 3rem;
}

div.home-container .side-container .user-profile {
  position: fixed;
  display: flex;
  align-items: center;
}

div.home-container .side-container .user-profile .photo img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

div.home-container .side-container .user-profile .info {
  margin-left: 1.5rem;
}

div.home-container .side-container .user-profile .info p.username {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.2rem;
}

div.home-container .side-container .user-profile .info p.name {
  font-size: 1rem;
  color: #888;
}

@media only screen and (max-width: 1100px) {
  div.home-container .side-container {
    display: none;
  }

  div.home-container {
    justify-content: center;
    padding-left: 0px;
  }

  div.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.create-post-container {
    width: 100%;
    max-width: 60rem;
  }
}
