.post {
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  width: 100%;
  max-width: 60rem;
  margin-bottom: 6rem;

  &__comments-mobile {
    overflow-y: scroll;
    height: 100%;
    max-height: 40rem;

    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__item {
      width: 100%;
      margin-bottom: 2rem;

      font-size: 1.4rem;

      &__owner {
        display: flex;
        align-items: center;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        strong {
          align-self: flex-start;
          margin: 0rem 1rem;
        }
      }

      &__hour {
        align-self: flex-start;
        opacity: 0.5;
      }

      p {
        margin-left: 5rem;
        margin-top: -1.5rem;
        margin-bottom: 1rem;
        word-wrap: break-word;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0.5rem;
    border-bottom: 1px solid var(--color-border);

    p {
      font-size: 1.2rem;
      color: var(--color-text);
      font-weight: 600;
      margin-left: 1rem;
    }

    &__user {
      display: flex;
      align-items: center;

      img {
        width: 4rem;
        height: 4rem;
        background-color: var(--color-secondary);
        border-radius: 50%;
        margin-left: 0.5rem;
        cursor: pointer;
      }

      p {
        cursor: pointer;
      }
    }

    &__options svg {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  &__content {
    width: 100%;

    img {
      width: 100%;
    }

    video {
      width: 100%;
    }
  }

  &__like-section {
    border-top: 1px solid var(--color-border);
    margin-top: -0.5rem;
    padding: 1rem 0 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__main-icons span svg {
      width: 2.5rem;
      height: 2.5rem;
      color: var(--color-highlight);
      margin-right: 0.9rem;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    &__favorite-icon span svg {
      margin-right: 1.5rem;
      width: 2.5rem;
      height: 2.5rem;
      color: var(--color-highlight);
      cursor: pointer;
    }
  }

  &__likes p {
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 600;
    cursor: pointer;
  }

  &__caption {
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 600;
    cursor: pointer;

    strong {
      font-size: 1.3rem;
    }

    span {
      font-size: 1rem;
    }
  }

  &__show-comments {
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 600;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
    cursor: pointer;
  }

  &__comments p {
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 600;
    cursor: pointer;
    word-wrap: break-word;

    strong {
      font-size: 1.3rem;
    }

    span {
      font-size: 1rem;

      &.hour {
        margin-left: 1rem;
      }
    }
  }

  &__hours p {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    padding: 0rem 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    border-bottom: 1px solid var(--color-border);

    color: var(--color-text);
    cursor: pointer;
  }

  &__add-comment {
    padding: 2rem;
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__loading {
      margin-top: -1rem;
    }
  }

  input {
    width: 100%;
    border: 0;
    font-size: 1.2rem;
    background-color: var(--color-primary);
    color: var(--color-text);
  }

  button {
    cursor: pointer;
    border: 0;
    background-color: var(--color-primary);
    font-weight: 600;
    color: var(--color-tertiary);
    font-size: 1.2rem;

    &:hover {
      color: var(--color-tertiary-dark);
    }
  }
}

.video-js {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid var(--color-border);

  .vjs-big-play-button {
    background-color: var(--color-primary);
    border-radius: 3px;
  }

  .vjs-control-bar {
    background-color: var(--color-primary);
    color: var(--color-highlight);
  }

  .vjs-play-progress {
    background-color: var(--color-tertiary);
    color: var(--color-highlight);
  }

  .vjs-time-tooltip {
    background-color: var(--color-tertiary);
  }

  .vjs-volume-level {
    background-color: var(--color-text);
    color: var(--color-highlight);
  }
}

@media (max-width: 700px) {
  .post {
    border-radius: 0;
  }
}
