.input-block {
  width: 75%;
  margin-top: 6px;
}

.input-block input {
  border-radius: 3px;
  font-size: 0.8rem;
  width: 100%;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
}
