.input {
  width: 80%;
  margin-top: 0.6rem;

  & input {
    color: var(--color-text);
    border-radius: 3px;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
  }
}

.error {
  & input {
    border: 1px solid #ff33665b;
    background-color: #ff336628;
  }
}
