footer.container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0px 1rem 0px;
}

footer.container .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 0.6fr);

  grid-auto-rows: 2.5rem;
  grid-auto-columns: 1fr;
  padding: 1rem;
  list-style-type: none;
}

footer.container .grid-container .grid-item {
  margin: 0px;
  font-size: 1rem;
  color: rgb(0, 55, 107);
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

footer.container .copyright-text {
  margin-top: 2rem;
  font-size: 1rem;
  color: #888;
  font-weight: 600;
}

@media (min-width: 1120px) {
  footer.container .grid-container {
    display: flex;
    padding: 1rem;
    list-style-type: none;
  }
  footer.container .grid-container .grid-item {
    margin: 0 0.8rem;
  }

  footer.container .copyright-text {
    margin-top: 0;
  }

  footer.container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
  }
}
